{# src/UrlReducer/CoreBundle/Resources/views/Url/home.html.twig #}
{% extends 'UrlReducerCoreBundle::layout.html.twig' %}

{% block title %}Bienvenue sur cet incroyable site de réduction d'url{% endblock %}

{% block body %}
    <div class="mod w70 center mt3">
    	<h1 class="mod h4-like txtcenter mam">Saisissez votre url</h1>  

    	{{ form_start(form_generate_url, { 'attr': {'class': 'search'}}) }}
        <fieldset>
            {{ form_widget(form_generate_url.source, {'attr': {'placeholder': 'Search'}}) }}
            <input type="submit" value="Go" />
        </fieldset>
    	{{ form_end(form_generate_url) }}		
	</div>

	<div class="mod ma3">&nbsp;</div>

	{% if reduced_url is defined %}
		<div class="mod w70 center mt3">
	    	<h2 class="mod h4-like txtcenter mam">Résultat</h1>
	    	<a class="d-block w60 center" href="{{ reduced_url }}">{{ reduced_url }}</a>
		</div>
    {% endif %}
{% endblock %}