{# src/UrlReducer/CoreBundle/Resources/views/Url/home.html.twig #}
{% extends 'UrlReducerCoreBundle::layout.html.twig' %}

{% block title %}Bienvenue sur cet incroyable site de réduction d'url{% endblock %}

{% block body %}
    <div class="mod w70 center mt3">
        {% if reduced_url is defined %}
            <h1 class="mod h5-like txtcenter mam">Votre url</h1>  
            <a class="d-block w60 center" href="{{ reduced_url }}">{{ reduced_url }}</a>
        {% endif %}

    	{{ form_start(form_generate_url, { 'attr': {'class': 'search'}}) }}
        <fieldset>
            {{ form_widget(form_generate_url.source, {'attr': {'placeholder': 'Short what ?'}}) }}
            <input type="submit" value="Go" />
        </fieldset>
    	{{ form_end(form_generate_url) }}		
	</div>
{% endblock %}