{# src/UrlReducer/CoreBundle/Resources/views/Url/home.html.twig #}

<html>
	<head></head>
	<body>
		<div id="menu">
		    {{ render(controller('UrlReducerCoreBundle:Member:menu')) }}
		</div>

		{% if reduced_url is defined %} 
			<a href="{{ reduced_url }}">{{ reduced_url }}</a>
		{% endif %}
		
		{{ form(form_generate_url) }}

		{% if short_url is defined %} 
			{{ short_url }}
		{% endif %}
	</body>
</html>

